name: Release Drafter

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  update_release_draft:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v5
        with:
          tag-template: ${{fds@$NEXT_PATCH_VERSION}}
          tag-prefix: "fds@"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}