on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: "Get latest draft release "
        id: last_release
        uses: InsonusK/get-latest-release@v1.0.1
        with:
          myToken: ${{ github.token }}
          exclude_types: "prerelease|release"
      - name: Extract version number
        run: |
          string="${{ steps.last_release.outputs.tag_name }}"
          version=$(echo "$string" | grep -oP '(?<=@)[\d\.]+')
          export VERSION=$version
          echo "Version number is: $version"